.menu_none {
  display: none;
}
.menu {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 1%;
background-color: black;
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid white;
  margin-bottom: -140px;
}
.menu > div {
  margin: auto;
}

.menu > div > ul > li {
  list-style-type: none;
  margin-bottom: 15%;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
