.contact_text {
  margin-top: 12vh;

  font-size: 170%;
}
.contact_main {
  margin-top: 8vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15%;
  padding: 5%;
  background:linear-gradient(#000000, #000000);
}

.contact_text {
  color: #99ccff;
  text-decoration: underline;
font-style: italic;
  margin-left: 2%;
}
.contact_details > div {
  display: grid;
  margin-bottom: 5%;
  grid-template-columns: repeat(1, 1fr);

  width: 70%;
  background-color: rgb(30, 13, 57);
  padding: 4%;
  border: 2px;

  border-start-end-radius: 15%;
}

.contact_details > div > h1 {
  font-size: 150%;
  color: #fd7e14;
}

.contact_div {
  width: 100%;
  margin-top: 7%;
  display: flex;
  justify-content: center;
}

.contact_ico {
  border-radius: 50%;
  width: 5%;
  background-color: black;
  border-radius: 70%;
  align-self: center;
}

.left_con {
  display: flex;
  margin: auto;
  align-items: flex-start;
  flex: 1;
}

.get_in {
  font-size: 170%;
  color: #fd7e14;
  display: block;
}
#logo_box_contact {
  display:flex;
  margin-top: 10%; 
  gap: 10%;

  justify-content: center;
 
}
#logo_box_contact > div {
  height: 50px;

  align-items: center;
  justify-content: center;
  width: 50px;
  background-color:#fd7e14;
  border-radius: 50%;
}
#logo_box_contact> div:hover {
  cursor: pointer;
  background-color: #dba070;
}
#logo_box_contact> a > button:hover {
  cursor: pointer;
  background-color: rgb(233, 229, 225);
}

#logo_box_contact > div > img {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 20%;
}

@media all and (min-width: 521px) and (max-width: 900px) {
  .contact_main {
  gap: 10vh;
   display: flex;
   flex-direction: column;
  }
  .left_con{
    margin-left: 30%;
  }
  .left_con{
    width: 100%;
 
    margin-bottom: -4vh;
  }
  .left_con > form {
    width: 40%;
  }
 
  .contact_details > div {
    margin-bottom: 5vh;
    margin: auto;
  }
  #logo_box_contact {
  
    margin-bottom: 1%;
    margin: auto;
    margin-right: 15%;
  }
  #logo_box_contact > div {
    height: 40px;
    width: 40px;
  }
  .contact_details{
width: 60% ;
margin: auto;
  }
}
@media all and (min-width: 400px) and (max-width: 520px) {
  .contact_main {
    grid-template-columns: repeat(1, 1fr);
  }

  .left_con > form {
    width: 200px;
  }
  .contact_details > div {
    margin-bottom: 1%;
    margin: auto;
  }
  .contact_details {
    margin-top: -10%;
    margin-bottom: 40%;   
  }
  #logo_box_contact {
  
    margin-bottom: 1%;
    margin: auto;
    margin-right: 15%;
  }
  #logo_box_contact > div {
    height: 40px;
    width: 40px;
  }
}


@media all and (min-width: 0px) and (max-width: 400px) {

  .contact_main {
    grid-template-columns: repeat(1, 1fr);
  }

  .left_con > form {
    width: 200px;
  }
  .contact_details > div {
    margin-bottom: 1%;
    margin: auto;
    font-size: 80%;
  }
  .contact_details {
    margin-top: -10%;
    margin-bottom: 40%;   
  }
  #logo_box_contact {
  
    margin-bottom: 1%;
    margin: auto;
    margin-right: 15%;
  }
  #logo_box_contact > div {
    height: 40px;
    width: 40px;
  }
}