.nav_main {
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 1% 2%;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 15vh;
  border-bottom: 1px solid white;
}

.left_nav {
  flex: 1;

  display: flex;
  align-items: center;
  text-align: center;
}
.left_nav > img {
  width: 29%;
  margin-right: 7%;
}

.right_nav {
  display: flex;
  align-self: center;
  text-align: center;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.right_nav > ul {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

.right_nav > ul > li {
  align-self: center;
  list-style-type: none;
  font-weight: 500;
  margin-top: 3%;
  font-size: 130%;
}

.hamb {
  display: none;
  align-self: center;
  margin-left: 2%;
  margin-right: 1%;
 
}

.IntroH {
  border-radius: 2.1rem;
  color: rgb(250, 247, 247);
  width: 12%;
  font-size: 20px;
}
.skillH {
  border-radius: 2.1rem;
  color: rgb(254, 254, 254);
  width: 12%;
  font-size: 20px;
}
.resumeH {
  border-radius: 2.1rem;
  color: rgb(255, 255, 255);
  width: 14%;
  font-size: 20px;
}
.aboutH {
  border-radius: 2.1rem;
  color: rgb(246, 246, 246);
  width: 12%;
  font-size: 20px;
}
.projectH {
  border-radius: 2.1rem;
  color: rgb(255, 255, 255);
  width: 16%;
  font-size: 20px;
}
.contactH {
  border-radius: 2.1rem;
  color: rgb(249, 249, 249);
  width: 15%;
  font-size: 20px;
}

@media all and (max-width: 907px) {
  .hamb {
    display: block;
  }
  .right_nav {
    display: none;
  }
  .left_nav > img {
    width: 47%;
  }
}
.active{

  border-bottom: 2px solid yellow;
}
.resumeH:hover {
  background-color: #fd7e14;
  color: black;
}
.IntroH:hover {
  background-color: rgb(236, 222, 222);
  color: black;
}

.aboutH:hover {
  background-color: rgb(236, 222, 222);
  color: black;
}

.skillH:hover {
  background-color: rgb(236, 222, 222);
  color: black;
}

.contactH:hover {
  background-color: rgb(236, 222, 222);
  color: black;
}

.projectH:hover {
  background-color: rgb(236, 222, 222);
  color: black;
}
