
 .APP_DARK{
 
 overflow: hidden;

  font-family:sans-serif; 
  background: linear-gradient(to bottom, #0a192f, #506192);
  /* background:linear-gradient(#000000, #923CB5); */
color: white;
} 
/* #63D471 */
.App {

 overflow: hidden;
  color: rgb(255, 255, 255);
background:linear-gradient(#1E3B70,
#29539B);

  font-family:sans-serif;
}

.button{
  border-radius: 34px;
  border: none;
  color: white;
  background-color:#fd7e14; ;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
 }


.button:hover{
  background: #ddb18d;
  cursor: pointer;
}

body {
  cursor: default; 
}


.application-entered {
  cursor: url('../src/images/arrow1.png') 10 10, auto;
}